<nav class="navbar">
  <div class="navbar-inner">
    <div class="brand">Fantamanager</div>

    <div class="nav-right">
      <div class="user">Ciao <strong><%= user.username %></strong></div>

      <form method="POST" action="/logout" class="logout-form">
        <button class="btn">Logout</button>
      </form>
    </div>
  </div>
</nav>
